* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    background-color: teal;
}
.data-time-wrap{
    font-size: 16px;
    margin: 20px auto;
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: blue;
    color: white;
    align-items: center;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}
.stopwt-loop-wrap{
    background-color: seagreen;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.loop{
    border: 3px solid #000;
    width: 200px; 
    height: 100px;
    text-align: center;
    align-items: center;
    padding: auto 0;
    background-color: brown;
    color: white;
}
.start{
    width: 50px;
    height: 20%;
    background-color: black;
    color: white;
}
.start{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
}
.reset{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
}
.loopbt{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
}
.stop{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
}
.stopwatch{
    margin: 20px    ;
}
.start:hover{
    font-size: 20px;
    box-shadow: 0 0 3px 3px turquoise;
    transform: translateY(4px);
    cursor: pointer;
}
.loopbt:hover{
    font-size: 20px;
    box-shadow: 0 0 3px 3px turquoise;
    transform: translateY(4px);
    cursor: pointer;
}
.stop:hover{
    font-size: 20px;
    box-shadow: 0 0 3px 3px turquoise;
    transform: translateY(4px);
    cursor: pointer;
}
.reset:hover{
    font-size: 20px;
    box-shadow: 0 0 3px 3px turquoise;
    transform: translateY(4px);
    cursor: pointer;
}