* {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(rgb(251, 255, 0), rgb(0, 38, 255));
    background-attachment: fixed;
    height: 100%;
  }


h1 {
    font-style: italic;
    text-align: center;
    margin-top: 20%;
}

